<nav class="navbar navbar-expand navbar-light bg-light">
	<div class="container-fluid">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
			<li class="nav-item"><a class="nav-link" (click)="message()">Message</a></li>
			<li class="nav-item"><a class="nav-link" (click)="changes()">Changes</a></li>
		</ul>
		<span class="navbar-text ml-auto" [hidden]="!authenticated">
			Signed in as <a href="#/">{{user.name}}</a>
		</span>
	</div>
</nav>
<div class="container">
	<h1>Admin</h1>
	<router-outlet></router-outlet>
</div>
