/Servers
/.metadata
/application.yml
/application.properties
*~
.#*
*#
target/
bin
/data
.classpath
.project
.settings
.springBeans
.sts4-cache/
.DS_Store
*.sw*
*.iml
.idea
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/# See http://help.github.com/ignore-files/ for more about ignoring files.
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
node/
node_modules/
e2e/*.js
e2e/*.map
