<!doctype html>
<html>
<head>
<title>Hello Dashboard</title>
<link href="css/admin-assets.css" rel="stylesheet">
<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
</style>
</head>

<body ng-app="admin" ng-cloak class="ng-cloak" ng-controller="home as home">
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a class="navbar-primary" href='#/' ng-click="home.home()">Home</a></li>
				<li><a class="navbar-primary" href='#/' ng-click="home.changes()">Changes</a></li>
			</ul>
			<p class="navbar-text navbar-right" ng-show="home.authenticated">
				Signed in as <a href="#/" class="navbar-link">{{home.user.name}}</a>
			</p>
		</div>
	</div>
	<div class="container">
		<h1>Admin</h1>
		<div ng-show="home.authenticated" ng-include="home.template"></div>
		<div ng-show="!home.authenticated" ng-include="'unauthenticated.html'"></div>
	</div>
	<script src="js/admin-assets.js" type="text/javascript"></script>
	<script src="js/admin.js" type="text/javascript"></script>
</body>
</html>
