spring:
  security:
    user:
      password: password
  session:
    store-type: redis
  web:
    resources:
      static-locations: classpath:/static/browser/
  cloud:
    gateway:
      mvc:
        routes:
          - id: resource
            uri: http://localhost:9000
            predicates:
              - Path=/resource/**
            filters:
              - StripPrefix=1
